body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('torta.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px; /* Espacio superior para centrar verticalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    position: relative;
}

#centerImage {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: 100px; /* Ajusta el tamaño según tus necesidades */
    margin-bottom: 20px; /* Espacio inferior entre la imagen y el formulario */
    border-radius: 50%; /* Hace que la imagen sea circular */
}

.container::before {
    content: "";
    background: url('tortas.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.5; /* Transparencia de la imagen */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: 0;
}

.container > * {
    position: relative;
    z-index: 1;
}

#toggleSavedBirthdays {
    margin-top: 20px; /* Agregar un espacio arriba del botón */
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    gap: 10px;
}

button.edit, button.delete {
    background: #007bff;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
}

button.delete {
    background: #dc3545;
}
#toggleSavedBirthdays {
    margin-top: 20px; /* Agregar un espacio arriba del botón */
}